:root {
  --background: #5E6367;
  --global-font: 16px;
  --button-font: 20px;
  --screen-font: 48px;
}

/* .light-theme {
  --calc-bg: radial-gradient(circle, #F1F1ED 25.44%, #D6DDE2 100%);
  --calc-btn-bg: 
} */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: var(--background);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: var(--global-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.calculator {
  background: radial-gradient(circle, #F1F1ED 25.44%, #D6DDE2 100%);
  box-shadow: 0px 20px 12px -8px rgba(49, 54, 63, 0.4), 0px 3px 2px -2px rgba(0, 0, 0, 0.25), inset 0px -5px 6px #9E9E9E, inset 0px 2px 2px 1px #F0F0F0;
  border-radius: 34px;
  border: 1px solid rgb(50, 50, 50, 0.3);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 14px;
  gap: 10px;
  width: 258px;
}

.calculator__screen {
  background: linear-gradient(99.37deg, rgba(255, 255, 255, 0.1276) 4.26%, rgba(255, 255, 255, 0.044) 37.4%, rgba(255, 255, 255, 0) 38.29%), #252525;
  box-shadow: 0px -2px 4px #363636, 0px 2px 1px -1px #525252, inset 0px 1px 1px #626262;
  border-radius: 20px;
  padding: 6px 18px;
  height: 69px;
  width: 100%;
}

.calculator__screen__inner {
  height: 57px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.calculator__output {
  color: #18F1FF;
  display: inline-block;
  font-weight: 300;
  font-size: var(--screen-font);
  line-height: 57px;
  position: absolute;
  right: 0;
  text-shadow: 0px 0px 0px rgba(49, 202, 216, 0.6);
  text-align: right;
  transform-origin: right;
  white-space: nowrap;
}

.calculator__row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  height: 50px;
  width: 100%;
}

.calculator__button {
  background: radial-gradient(circle, #EFEFEF 0%, #B7C7C8 100%);
  box-shadow: 0px 6px 6px rgba(64, 64, 64, 0.4), 0px 3px 3px -1px rgba(0, 0, 0, 0.25), 0px 0px 0px 1px rgba(63, 63, 63, 0.22), inset 2px 4px 4px #CDCDCD;
  border-radius: 27px;
  border: none;
  cursor: pointer;
  font-size: var(--button-font);
  width: 50px;
  height: 50px;
  text-align: center;
  position: relative;
}

.calculator__button:active {
  box-shadow: 0px 3px 5px rgba(64, 64, 64, 0.4), 0px 3px 3px -1px rgba(0, 0, 0, 0.25), 0px 0px 0px 1px rgba(63, 63, 63, 0.22), inset 2px 4px 4px #CDCDCD;
  top: 2px;
}

.calculator__button_large {
  width: 110px;
}

.calculator__button_special {
  background: radial-gradient(circle, #C4D3D3 0%, #8AA4A6 100%);
}
